@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.App {
  text-align: center;
}

.divTable {
  display: table;
  max-width: 20em;
  float: right;
  display: flex;
  align-items: center;
}

.divTableRow {
  display: table-row;
}

.divTableHeading {
  background-color: #eee;
  display: table-header-group;
  font-weight: bold;
}

.divTableCell,
.divTableHead {
  border: 1px solid #999999;
  display: table-cell;
  padding: 3px 10px;
}

.divTableFoot {
  background-color: #eee;
  display: table-footer-group;
  font-weight: bold;
}

.divTableBody {
  display: table-row-group;
}

.divTableCell:nth-child(1n) {
  background-color: gainsboro;
}

.container {
  display: flex;
  opacity: 0.9;
  background-color: #99aaab;
  justify-content: center;
}

img {
  height: 16em;
}

input {
  box-sizing: border-box;
  font-size: 2rem;
  padding: 1rem;
  display: block;
  margin: 2rem auto;
}
