@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: wheat;
}

.App {
  text-align: center;
}

nav {
  padding: 1rem;
}

nav > * {
  margin: 0 20px;
}

tr {
  display: table-row;
}

tbody {
  display: table-row-group;
}

td:nth-child(1n) {
  background-color: gainsboro;
}

.container {
  opacity: 0.9;
  background-color: wheat;
  max-width: fit-content;
  justify-content: center;
  display: flex;
  margin: 25px;
  position: relative;
  margin-left: 33.5%;
  margin-right: 50% auto;
}

img {
  height: 16em;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border-radius: 10px;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  padding: 10px;
}

h1 {
  margin: 0px;
}

.form {
  margin: auto;
  max-width: 500px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.form input {
  display: inline-block;
  width: 100%;
  padding: 10;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.image {
  justify-content: right;
  padding: auto;
  border: black 1px solid;
  background-color: wheat;
  border-radius: 5px;
}

p {
  border: black 1px solid;
  border-radius: 5px;
  padding: 5px;
  background-color: wheat;
  text-align: start;
}

h3 {
  margin: 50px;
  padding: 25px;
}

.nes-container {
  position: absolute;
  border: none;
  text-decoration: none;
}

.nes-table-responsive {
  margin: 0 !important;
  text-align: left;
}

.nes-container is-rounded .card {
  background-color: #eee;
  margin: 0px auto;
  max-width: 800px;
  align-items: center;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  box-shadow: 0 0 3px black;
}

.column {
  float: left;
  margin: 5px;
  display: flex;
  justify-content: space-evenly;
}

.row {
  display: table;
  content: "";
  align-items: center;
  float: left;
  margin: 20px;
}

h6 {
  font-size: 25px;
  margin: auto;
  display: list-item;
}

.nes-input,
.nes-select {
  max-width: 100% !important;
}

.nes-input.search {
  width: 50%;
}

@media screen and (max-width: 600px) {
  .column,
  .card,
  .container,
  .label,
  .nes-container,
  nav {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
